body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.75);
}

#root {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-weight: 900;
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 480px;
    margin: 16px auto 16px;
    padding: 0 15px;
}

.temp-api-input {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.temp-api-input input {
    width: 100%;
    margin-right: 12px;
    padding: 4px 8px;
    box-shadow: none;
    border: 1px dashed rgba(0, 0, 0, 0.5);
}
.temp-api-input input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid rgb(8, 203, 148);
}
.temp-api-input button {
    flex-shrink: 0;
    fill: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding: 0;
    display: flex;
    box-sizing: content-box;
    box-shadow: none;
    background-color: #fff;
    padding: 4px 8px;
}
.temp-api-input button:hover {
    background-color: rgb(8, 203, 148);
    border-color: rgb(8, 203, 148);
    color: #fff;
}

.time-card {
    max-width: 480px;
    border-top: 2px solid rgb(8, 190, 203);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.02);
    margin-bottom: 24px;
    box-shadow: 0px 1px 12px -2px rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.time-card--active {
    border-top: 2px solid rgb(8, 203, 148);
    background: rgba(8, 203, 148, 0.04);
}
.time-card--active .time-description {
    background-color: #fff;
    border-style: solid;
}
.time-card--active .time-total {
    color: rgb(8, 203, 148);
}

.time-description {
    border: 1px dashed rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
    padding: 4px 8px;
}
.time-description:empty {
    border: 1px dashed rgb(255, 176, 187);
}

.time-description:hover:not(:empty):not(:focus) {
    border: 1px dashed rgba(0, 0, 0, 0.2);
}
.time-description:focus {
    /* outline: 1px solid rgb(8, 203, 148);
  border-color: transparent; */
    outline: none;
    border: 1px solid rgb(8, 203, 148);
    background-color: #fff;
}

.time-actions {
    display: flex;
}

.time-button {
    min-width: 42px;
    height: 42px;
    fill: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding: 0;
    display: flex;
    box-sizing: content-box;
    box-shadow: none;
    background-color: #fff;
}
.time-button:not(:last-child) {
    margin-right: 12px;
}

.time-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.4);
    fill: #fff;
    cursor: not-allowed;
}

.time-button:hover:not(:disabled) {
    background-color: rgb(8, 203, 148);
    border-color: rgb(8, 203, 148);
    fill: #fff;
}

.time-button.time-button--stop {
    border-color: rgb(8, 203, 148);
    fill: rgb(8, 203, 148);
}

.time-button svg {
    max-width: 18px;
    margin: auto;
}

.time-total {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 12px;
}
